.hero-section {
  height: 100vh;
  background: url('../img/hero-img.png') center/cover no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.4); // 半透明背景可选
  padding: $spacing_unit * 4;
  border-radius: 10px;
}

.hero-content .version {
  background: black;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: $spacing_unit;
  border-radius: 8px;
  font-size: 0.9rem;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: $spacing_unit;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: $spacing_unit * 2;
}

.btn-group {
  display: flex;
  gap: $spacing_unit * 2;
  justify-content: center;
  flex-wrap: wrap;

  .btn {
    border: 2px solid white;
    background: transparent;
    color: white;

    &:hover {
      background: white;
      color: $primary-color;
    }
  }
}
